* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7FBFF;
  font-family: "Inter" sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

.nav__menu--mobile {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-size: 1rem;
}
@media screen and (max-width: 800px) {
  .nav__menu--mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 1rem;
  }
}
.nav__menu--mobile p {
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #F7FBFF;
  border: 2px #202020 solid;
  width: 100%;
  height: 80px;
  padding: 0 128px;
  font-size: 1rem;
  font-weight: 400;
  z-index: 3;
}
@media screen and (max-width: 800px) {
  .nav {
    position: fixed;
    top: 0;
    background-color: #F7FBFF;
    border: 2px #202020 solid;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    font-size: 1rem;
    font-weight: 400;
    z-index: 3;
  }
}
.nav .nav__links {
  display: flex;
}
@media screen and (max-width: 800px) {
  .nav .nav__links {
    display: none;
  }
}
.nav .nav__links .nav__link {
  text-decoration: none;
  color: #202020;
  margin: 0 16px;
  padding: 8px;
}
.nav .nav__links .nav__link:hover {
  color: #F7FBFF;
  background-color: #202020;
}
.nav .nav__links .nav__link:last-child {
  margin-right: 0;
}

.nav__link__selected {
  border-bottom: 2px solid #202020;
}

.main-hero {
  height: 80vh;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1.25fr 1fr;
  gap: 2px;
  grid-auto-flow: row;
  grid-template-areas: "arte donar contacto" "sobre-mi donar contacto";
  padding: 0 2px 2px 2px;
  overflow: hidden;
  background-color: #202020;
}
@media screen and (max-width: 800px) {
  .main-hero {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1.25fr 1.25fr;
    gap: 2px;
    grid-template-areas: "arte arte arte sobre-mi" "camaleon camaleon donar donar" "contacto contacto contacto contacto";
  }
}
@media screen and (max-width: 576px) {
  .main-hero {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1.25fr 1fr;
    gap: 2px;
    grid-template-areas: "arte arte arte sobre-mi" "camaleon donar donar donar" "contacto contacto contacto contacto";
  }
}

.main__link {
  color: #202020;
  text-decoration: none;
  font-size: 2rem;
  display: none;
  font-family: "Inter" sans-serif;
  line-height: 2rem;
  transition: all 400ms ease-in-out;
}
@media screen and (max-width: 800px) {
  .main__link {
    display: flex;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

.camaleon {
  display: none;
  grid-area: camaleon;
  background-image: url(../images/home/home__camaleon-surf.png);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 800px) {
  .camaleon {
    display: flex;
  }
}

.arte {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: arte;
  background-image: url(../images/home/home__crustaceo-casco.png);
}
@media screen and (max-width: 800px) {
  .arte {
    background-image: none;
  }
}
@media screen and (max-width: 800px) {
  .arte {
    background-color: #3DE984;
  }
}
.arte:hover {
  background-image: none;
  background-color: #3DE984;
}
.arte:hover .main__link {
  display: flex;
}

.sobre-mi {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: sobre-mi;
  background-image: url(../images/home/home__tiburon-pirata.png);
}
@media screen and (max-width: 800px) {
  .sobre-mi {
    background-image: none;
  }
}
@media screen and (max-width: 800px) {
  .sobre-mi {
    background-color: #C072FE;
  }
}
.sobre-mi:hover {
  background-image: none;
  background-color: #C072FE;
}
.sobre-mi:hover .main__link {
  display: flex;
}

.donar {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: donar;
  background-image: url(../images/home/home__pajaro-arma.png);
}
@media screen and (max-width: 800px) {
  .donar {
    background-image: none;
  }
}
@media screen and (max-width: 800px) {
  .donar {
    background-color: #B28C7B;
  }
}
.donar:hover {
  background-image: none;
  background-color: #B28C7B;
}
.donar:hover .main__link {
  display: flex;
}

.contacto {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: contacto;
  background-image: url(../images/home/home__camaleon-surf.png);
}
@media screen and (max-width: 800px) {
  .contacto {
    background-image: none;
  }
}
@media screen and (max-width: 800px) {
  .contacto {
    background-color: #F6D526;
  }
}
.contacto:hover {
  background-image: none;
  background-color: #F6D526;
}
.contacto:hover .main__link {
  display: flex;
}

/* End of index --- start of footer*/
.footer {
  background-color: #000000;
  color: #F7FBFF;
  padding: 128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
@media screen and (max-width: 800px) {
  .footer {
    padding: 64px 40px;
  }
}
.footer .footer__section-one {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .footer .footer__section-one {
    flex-direction: column;
    gap: 64px;
  }
}
.footer .footer__section-one .footer__linkgroups {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}
@media screen and (max-width: 800px) {
  .footer .footer__section-one .footer__linkgroups {
    justify-content: center;
  }
}
.footer .footer__section-one .footer__linkgroups .footer__linkgroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .footer__section-one .footer__linkgroups .footer__linkgroup .footer__grouptitle {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.footer .footer__section-one .footer__linkgroups .footer__linkgroup .footer__link {
  font-size: 0.8rem;
  text-decoration: none;
  color: #6C6E70;
  transition: all 400ms ease-in-out;
}
.footer .footer__section-one .footer__linkgroups .footer__linkgroup .footer__link:hover {
  color: #F7FBFF;
  text-decoration: underline;
}
.footer .footer__section-one .footer__legal {
  justify-self: center;
  align-self: center;
  color: #8a8a8a;
  font-size: 0.8rem;
}
.footer .footer__section-two {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.footer .footer__section-two p {
  font-size: 0.6rem;
  text-decoration: none;
  color: #F7FBFF;
  margin-top: 8px;
}

/* End of footer --- start of arte */
.main, .donar-main, .sobre-mi-main {
  max-width: 100vw;
  width: 100%;
  margin: 80px 0 0 0;
  border: 2px solid #202020;
  border-top: none;
  padding: 120px 128px;
  overflow-x: hidden;
}
@media screen and (max-width: 800px) {
  .main, .donar-main, .sobre-mi-main {
    max-width: 100vw;
    width: 100%;
    margin: 80px 0 0 0;
    border: 2px solid #202020;
    border-top: none;
    padding: 72px 40px;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 576px) {
  .main, .donar-main, .sobre-mi-main {
    max-width: 100vw;
    width: 100%;
    margin: 80px 0 0 0;
    border: 2px solid #202020;
    border-top: none;
    padding: 56px 32px;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1600px) {
  .main, .donar-main, .sobre-mi-main {
    max-width: 100vw;
    width: 100%;
    margin: 80px 0 0 0;
    border: 2px solid #202020;
    border-top: none;
    padding: 120px 192px;
  }
}

.arte-shape {
  position: absolute;
  right: -40px;
  top: 102px;
  z-index: -1;
  overflow: hidden;
}

.h1-left {
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.2rem;
  font-weight: 900;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .h1-left {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media screen and (max-width: 576px) {
  .h1-left {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 0 auto;
    text-align: center;
  }
}

.paragraph-left {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 42ch;
}

.masonry-grid {
  width: 100%;
  display: flex;
  gap: 16px;
  margin: 0 auto;
  margin-top: 48px;
}
.masonry-grid .masonry-grid__column {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.masonry-grid .masonry-grid__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
}

.scrim {
  background: linear-gradient(to top, #F7FBFF, rgba(247, 251, 255, 0));
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 2;
  margin-top: -180px;
}

.button-primary {
  border: none;
  display: flex;
  margin: 0 auto;
}
.button-primary a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #F7FBFF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #202020;
  padding: 16px 20px;
  transition: all 400ms ease-in-out;
}
.button-primary a:hover {
  background-color: #6977F9;
}

.button-margin {
  margin-top: 48px;
}

/* End of arte --- start of sobre mi */
.sobre-mi-main {
  background-color: #3DE984;
}
.sobre-mi-main .sobre-mi-main__container {
  justify-content: space-between;
  width: 100%;
}
.sobre-mi-main .sobre-mi-main__container .sobre-mi-main__text-container h1 {
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.2rem;
  font-weight: 900;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .sobre-mi-main .sobre-mi-main__container .sobre-mi-main__text-container h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media screen and (max-width: 576px) {
  .sobre-mi-main .sobre-mi-main__container .sobre-mi-main__text-container h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 0 auto;
    text-align: center;
  }
}
.sobre-mi-main .sobre-mi-main__container .sobre-mi-main__text-container .subheading {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.sobre-mi-main .sobre-mi-main__container .sobre-mi-main__text-container .parrafo {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 42ch;
}
.sobre-mi-main .sobre-mi-main__container .sobre-mi-main__photo-container {
  display: block;
  margin-top: 40px;
}
.sobre-mi-main .sobre-mi-main__container .sobre-mi-main__photo-container .sobre-mi-main__talent-photo {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border: 2px #202020 solid;
  position: relative;
  z-index: 2;
}

.sobre-mi-main__shape-one, .sobre-mi-main__shape-two {
  position: absolute;
  z-index: 1;
  top: -10px;
  left: -56px;
  overflow: hidden;
}

.sobre-mi-main__shape-two {
  top: 260px;
  right: -42px;
  left: auto;
}

.left-line, .right-line {
  display: flex;
  border-left: 2px #202020 solid;
  width: 1px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 1;
}

.right-line {
  right: 0;
  left: auto;
  top: 260px;
}

/* End of sobre mi --- start of donar */
.donar-main .donar-main__title {
  display: flex;
  flex-direction: column;
}
.donar-main .donar-main__title .donar-main__h1 {
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.2rem;
  font-weight: 900;
  margin-bottom: 24px;
  order: 2;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .donar-main .donar-main__title .donar-main__h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media screen and (max-width: 576px) {
  .donar-main .donar-main__title .donar-main__h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 0 auto;
    text-align: center;
  }
}
.donar-main .donar-main__title .donar-main__subheading {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  order: 1;
  margin-bottom: 16px;
  line-height: 1rem;
}
.donar-main .donar-main__mp-link {
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 32px;
}
.donar-main .donar-main__mp-link .donar-main__link-content {
  display: flex;
  gap: 16px;
  padding: 24px;
  background-color: #D8DCE0;
  justify-items: center;
  align-items: center;
}
.donar-main .donar-main__mp-link .donar-main__link-content .donar-main__alias {
  font-family: "IBM Plex Mono", monospace;
  color: #6C6E70;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin: auto;
}
.donar-main .donar-main__mp-link .donar-main__link-content .donar-main__icon {
  stroke: #6C6E70;
}
.donar-main .button-group {
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  width: fit-content;
  gap: 16px;
}
.donar-main .donar-main__imgs {
  position: relative;
  left: -64px;
  width: 100%;
}
.donar-main .donar-main__imgs .donar-main__img {
  position: relative;
  left: 0px;
  height: 420px;
  z-index: -1;
}
.donar-main .donar-main__imgs svg {
  position: relative;
  left: -400px;
  top: -96px;
  z-index: -2;
}

/* End of donar --- start of contacto */
.checked {
  display: flex;
  width: 4px;
  height: 4px;
  background-color: none;
  position: relative;
  left: -12px;
  z-index: -1;
  transform: scale(1, 1);
  transition: all 400ms ease-in-out;
}

.contacto-main {
  max-width: 100vw;
  width: 100%;
  margin: 80px 0 0 0;
  border: 2px solid #202020;
  border-top: none;
  padding: 120px 128px;
  overflow-x: hidden;
}
@media screen and (max-width: 800px) {
  .contacto-main {
    max-width: 100vw;
    width: 100%;
    margin: 80px 0 0 0;
    border: 2px solid #202020;
    border-top: none;
    padding: 72px 40px;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 576px) {
  .contacto-main {
    max-width: 100vw;
    width: 100%;
    margin: 80px 0 0 0;
    border: 2px solid #202020;
    border-top: none;
    padding: 56px 32px;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1600px) {
  .contacto-main {
    max-width: 100vw;
    width: 100%;
    margin: 80px 0 0 0;
    border: 2px solid #202020;
    border-top: none;
    padding: 120px 192px;
  }
}
.contacto-main .contacto-main__title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contacto-main .contacto-main__title .contacto-main__h1 {
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.2rem;
  font-weight: 900;
  margin-bottom: 24px;
  order: 2;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .contacto-main .contacto-main__title .contacto-main__h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media screen and (max-width: 576px) {
  .contacto-main .contacto-main__title .contacto-main__h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 0 auto;
    text-align: center;
  }
}
.contacto-main .contacto-main__title .contacto-main__h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  order: 1;
  margin-bottom: 16px;
  line-height: 1rem;
}
.contacto-main .form {
  margin: 0 auto;
  width: 80%;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 800px) {
  .contacto-main .form {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .contacto-main .form {
    width: 100%;
  }
}
.contacto-main .form .form__input-row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.contacto-main .form .form__input-row .form__cell-container {
  width: 100%;
}
.contacto-main .form .form__input-row .form__cell-container label {
  display: none;
}
.contacto-main .form .form__input-row .form__cell-container .form__cell, .contacto-main .form .form__input-row .form__cell-container .form__cell:focus {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #F7FBFF;
  border-bottom: 2px #202020 solid;
  padding: 8px;
  font-family: "IBM Plex Mono", monospace;
}
.contacto-main .form .form__input-row .form__cell-container .form__cell:focus {
  border-color: #6977F9;
  outline: none;
}
.contacto-main .form label {
  display: none;
}
.contacto-main .form .form__text-area {
  width: 100%;
  padding: 8px;
  border: 2px #202020 solid;
  background-color: #F7FBFF;
  font-family: "IBM Plex Mono", monospace;
  color: #6C6E70;
}
.contacto-main .form .form__text-area:focus {
  border-color: #6977F9;
  outline: none;
}
.contacto-main .form .form__subscribe {
  color: #202020;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}
.contacto-main .form .form__subscribe .form__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px #202020 solid;
  cursor: pointer;
}
.contacto-main .form .form__subscribe .form__checkbox:checked {
  border-color: #6977F9;
}
.contacto-main .form .form__subscribe .form__checkbox:checked + .checked {
  display: inline-block;
  background-color: #6977F9;
  position: relative;
  left: -12px;
  transform: scale(2.1, 2.1);
}
.contacto-main .form .form__checkbox-text {
  display: inline;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}
.contacto-main .form .button-primary {
  border: none;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #F7FBFF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #202020;
  padding: 16px 20px;
  transition: all 400ms ease-in-out;
  width: 100%;
}
.contacto-main .form .button-primary:hover {
  background-color: #6977F9;
}
.contacto-main .form input::placeholder, .contacto-main .form textarea::placeholder {
  color: #d1d1d1;
}

/*# sourceMappingURL=estilo.css.map */
