* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7FBFF;
  font-family: "Inter" sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #F7FBFF;
  width: 100%;
  height: 80px;
  padding: 0 128px;
  border: 2px black solid;
  font-size: 1rem;
  font-weight: 400;
}
.nav .nav__links {
  display: flex;
}
.nav .nav__links .nav__link {
  text-decoration: none;
  color: #202020;
  margin: 0 16px;
  padding: 8px;
}
.nav .nav__links .nav__link:hover {
  color: #F7FBFF;
  background-color: #202020;
}
.nav .nav__links .nav__link:last-child {
  margin-right: 0;
}

.nav__link__selected {
  border-bottom: 2px solid #202020;
}

.main-hero {
  height: 80vh;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1.25fr 1fr;
  gap: 2px;
  grid-auto-flow: row;
  grid-template-areas: "arte donar contacto" "sobre-mi donar contacto";
  padding: 0 2px 2px 2px;
  overflow: hidden;
  background-color: #202020;
}

.main__link {
  color: #202020;
  text-decoration: none;
  font-size: 2rem;
  display: none;
  font-family: "Inter" sans-serif;
}

.arte {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: arte;
  background-image: url(../images/home/home__crustaceo-casco.png);
}
.arte:hover {
  background-image: none;
  background-color: #3DE984;
}
.arte:hover .main__link {
  display: flex;
}

.sobre-mi {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: sobre-mi;
  background-image: url(../images/home/home__tiburon-pirata.png);
}
.sobre-mi:hover {
  background-image: none;
  background-color: #C072FE;
}
.sobre-mi:hover .main__link {
  display: flex;
}

.donar {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: donar;
  background-image: url(../images/home/home__pajaro-arma.png);
}
.donar:hover {
  background-image: none;
  background-color: #B28C7B;
}
.donar:hover .main__link {
  display: flex;
}

.contacto {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: contacto;
  background-image: url(../images/home/home__camaleon-surf.png);
}
.contacto:hover {
  background-image: none;
  background-color: #F6D526;
}
.contacto:hover .main__link {
  display: flex;
}

/* End of index --- start of footer*/
.footer {
  background-color: #000000;
  color: #F7FBFF;
  padding: 128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.footer .footer__section-one {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer .footer__section-one .footer__linkgroups {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}
.footer .footer__section-one .footer__linkgroups .footer__linkgroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .footer__section-one .footer__linkgroups .footer__linkgroup .footer__grouptitle {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.footer .footer__section-one .footer__linkgroups .footer__linkgroup .footer__link {
  font-size: 0.8rem;
  text-decoration: none;
  color: #F7FBFF;
  transition: all 400ms ease-in-out;
}
.footer .footer__section-one .footer__linkgroups .footer__linkgroup .footer__link:hover {
  color: #6977F9;
}
.footer .footer__section-one .footer__legal {
  justify-self: center;
  align-self: center;
  color: #8a8a8a;
  font-size: 0.8rem;
}
.footer .footer__section-two {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.footer .footer__section-two p {
  font-size: 0.6rem;
  text-decoration: none;
  color: #F7FBFF;
  margin-top: 8px;
}

/* End of footer --- start of arte */
.main {
  width: 100%;
  margin: 80px 0 0 0;
  border: 2px solid #202020;
  border-top: none;
  padding: 120px 128px;
}

.arte-shape {
  position: absolute;
  right: -40px;
  top: 102px;
  z-index: -1;
  overflow: hidden;
}

.h1-left {
  font-family: "Inter" sans-serif;
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: -3%;
  font-weight: 900;
  margin-bottom: 24px;
}

.paragraph-left {
  font-family: "Inter" sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 46ch;
}

.masonry-grid {
  width: 100%;
  display: flex;
  gap: 16px;
  margin: 0 auto;
  margin-top: 48px;
}
.masonry-grid .masonry-grid__column {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.masonry-grid .masonry-grid__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
}

.scrim {
  background: linear-gradient(to top, #F7FBFF, rgba(247, 251, 255, 0));
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 2;
  margin-top: -180px;
}

.button-primary {
  border: none;
  display: flex;
  margin: 0 auto;
}
.button-primary a {
  font-family: "Inter" sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #F7FBFF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #202020;
  padding: 16px 20px;
  transition: all 400ms ease-in-out;
}
.button-primary a:hover {
  background-color: #6977F9;
}

.button-margin {
  margin-top: 48px;
}

/*# sourceMappingURL=estilo.css.map */
