@import "./base/var";


.sobre-mi-main {
    @include main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: nowrap;
    background-color: $green-solid;
    @media screen and (max-width:900px){
        flex-direction: column;
        
    }
    
    h1 {
        @include h1;
        z-index: 2;
        
        @media screen and (max-width:900px){
            text-align: center;
        }
    }
    
    .subheading {
        @include subheading;
        margin-bottom: 32px;
        z-index: 2;
        
        @media screen and (max-width:900px){
            text-align: center;
        }
    }

    .paragraph-left {
        @include paragraph;
        max-width: 42ch;
        z-index: 2;
        a {
            color: $text-black;
            &:hover {
                color: $link-hovered-purpleblue;
            }
        }
        @media screen and (max-width:900px){
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

    }

    .sobre-mi-main__textcontainer {
        width: 50%;
        max-width: 50%;
        
        @media screen and (max-width:900px) {
            width: 100%;
            
        }
    }

    .sobre-mi-main__photo-container{
        display: flex;
        height: fit-content;
        width: 44%;
        margin-top: 40px;
        justify-self: flex-end;
        align-items: flex-end;
        
        @media screen and (max-width:900px){
            width: 100%;
        }
        
        .sobre-mi-main__talent-photo{
            max-width: 450px;
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0 auto;
            margin-right: 0;
            border: $border-all;
            position: relative;
            z-index: 2;
            @media screen and (max-width:900px) {
                max-width: 100%;
                
            }
        }
    }

}

.main-sobremi__svg-container-one{
    @include svg-container;
    z-index: 1;
    max-width: 98vw;
    top: 0;
    left: 2px;
    .sobre-mi-main__shape-one{
        position: relative;
        left: -80px;
        @media screen and (max-width:1000px) {
            transform: scale(.7);
            left: -120px;
            path{
                stroke-width: calc(1.4px / .7);
            }    
        }
    }
}

.main-sobremi__svg-container-two{
    @include svg-container;
    z-index: 1;
    bottom: 2px;
    right: 2px;
    max-width: 98vw;

    @media screen and (max-width:800px) {
        bottom: -320px;
    }
    .sobre-mi-main__shape-two{
        position: relative;
        right: -160px;
        z-index: 1;

        @media screen and (max-width:900px) {
            right: -320px;
            
        }
        @media screen and (max-width:800px) {
            right: -200px;
        }
    }
}

.body-sobre-mi {
    background-color: $ligth-background;
}