$ligth-background:#F7FBFF;
$ligther-background:#fdfdfd;
$gray-background: #D8DCE0;
$dark-background:#202020;
$darker-background:#000000;
$inter: 'Inter', sans-serif;
$ibm-plex-mono:'IBM Plex Mono', monospace;;
$border-all: 2px $dark-background solid;
$text-black: #202020;
$text-light: #F7FBFF;
$text-gray:#8a8a8a;
$text-placeholder:#d1d1d1;
$text-dark-gray: #6C6E70;
$green-solid:#3DE984;
$purple-solid: #C072FE;
$brown-solid:#B28C7B;
$yellow-solid:#F6D526;
$link-hovered-purpleblue: #6977F9;



@mixin home-section-links{
    color: $text-black;
    text-decoration: none;
    font-size: 2rem;
    display: none;
    font-family: 'Inter' sans-serif;
    line-height: 2rem;
    transition: all 400ms ease-in-out;
    @media screen and (max-width:800px) {
        display: flex;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

@mixin main {
    max-width: 100vw;
    width: 100%;
    margin:80px 0 0 0;
    border: 2px solid $dark-background ;
    border-top: none;
    padding: 120px 128px;
    overflow-x: hidden;
    
    @media screen and (max-width: 800px) {
        max-width: 100vw;
        width: 100%;
        margin:80px 0 0 0;
        border: 2px solid $dark-background ;
        border-top: none;
        padding: 72px 40px;
        overflow-x: hidden;
    }

    @media screen and (max-width: 576px) {
        max-width: 100vw;
        width: 100%;
        margin:80px 0 0 0;
        border: 2px solid $dark-background ;
        border-top: none;
        padding: 56px 32px ;
        overflow-x: hidden;
    }

    @media screen and (min-width: 1600px) {
        max-width: 100vw;
        width: 100%;
        margin:80px 0 0 0;
        border: 2px solid $dark-background ;
        border-top: none;
        padding: 120px 192px ;

    }
}

@mixin nav-bar {
    position: fixed;
    top: 0;
    background-color: $ligth-background;
    border: $border-all;
    width: 100%;
    height: 80px;
    padding: 0 128px;
    font-size: 1rem;
    font-weight: 400;
    z-index: 3;
    @media screen and (max-width:800px) {
        position: fixed;
        top: 0;
        background-color: $ligth-background;
        border: $border-all;
        width: 100%;
        height: 80px;
        padding: 0 40px;
        font-size: 1rem;
        font-weight: 400;
        z-index: 3;  
    }
}

@mixin nav-menu-mobile {
        display: none;
        align-items: center;
        justify-content: center;
        padding: 8px;
        font-size: 1rem;

    @media screen and (max-width: 800px) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        font-size: 1rem;  
    }

}

@mixin nav-items-desktop {
    display: flex;
    @media screen and (max-width: 800px) {
        display: none;
    }

}


@mixin flex-column-centered{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin main-hero__section {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media screen and (max-width:800px) {
        background-image: none;
    }
}

@mixin h1 {
    font-family: $inter;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: -.2rem;
    font-weight: 900;
    margin-bottom: 24px;
    @media screen and (max-width: 768px) {
        font-size: 4rem;
        line-height: 4rem; 
    }
    @media screen and (max-width: 576px) {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin: 0 auto;
        text-align: center; 
    }
}


@mixin subheading {
    font-family: $inter;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
}

@mixin paragraph {
    font-family: $inter;
    font-size: 1rem;
    line-height: 1.5rem;
}


@mixin button-primary{
    border: none;
    display: flex;
}

@mixin button-primary-text{
    font-family: $inter;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $text-light;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: $dark-background;
    padding: 16px 20px;
    transition: all 400ms ease-in-out;
    &:hover {
        background-color: $link-hovered-purpleblue;
    }

}





@mixin footer {
    background-color: $darker-background;
    color: $text-light;
    padding: 128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
    @media screen and (max-width:800px) {
    padding: 64px 40px ;
    }
}
