@import "var";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $ligth-background;
    font-family: 'Inter' sans-serif;
}


.nav {
    @include flex-column-centered;
    position: fixed;
    top: 0;
    background-color: $ligth-background;
    width: 100%;
    height: 80px;
    padding: 0 128px;
    border: $border-all;
    font-size: 1rem;
    font-weight: 400;
    .nav__links {
        display: flex;
        .nav__link {
            text-decoration: none;
            color: $text-black;
            margin: 0 16px;
            padding: 8px;
        &:hover {
            color: $text-light;
            background-color: $dark-background;
        }
        }
        .nav__link:last-child {
            margin-right: 0;
        }
    }
}

.nav__link__selected {
    border-bottom: 2px solid $dark-background;
}


.main-hero {
    height: calc(80vh);
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 2px;
    grid-auto-flow: row;
    grid-template-areas:
    "arte donar contacto"
    "sobre-mi donar contacto";
    padding: 0 2px 2px 2px;
    overflow: hidden;
    background-color: $dark-background
}

.main__link {
    color: $text-black;
    text-decoration: none;
    font-size: 2rem;
    display: none;
    font-family: 'Inter' sans-serif;
}

.arte {
    @include main-hero__section;
    grid-area: arte; 
    background-image: url(../images/home/home__crustaceo-casco.png);
    &:hover{
        background-image: none;
        background-color: $green-solid;
    }
    &:hover .main__link {
        display: flex;
    }
}

.sobre-mi {
    @include main-hero__section;
    grid-area: sobre-mi;
    background-image: url(../images/home/home__tiburon-pirata.png);
    &:hover{
        background-image: none;
        background-color: $purple-solid;
    }
    &:hover .main__link {
        display: flex;
    }
}

.donar {
    @include main-hero__section;
    grid-area: donar;
    background-image: url(../images/home/home__pajaro-arma.png);
    &:hover{
        background-image: none;
        background-color: $brown-solid;
    }
    &:hover .main__link {
        display: flex;
    }
}

.contacto {
    @include main-hero__section;
    grid-area: contacto;
    background-image: url(../images/home/home__camaleon-surf.png);
    &:hover{
        background-image: none;
        background-color: $yellow-solid;
    }
    &:hover .main__link {
        display: flex;
    }
}

/* End of index --- start of footer*/


.footer {
    background-color: $darker-background;
    color: $text-light;
    padding: 128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 64px; 
    .footer__section-one{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .footer__linkgroups{
            justify-content: flex-start;
            display: flex;
            flex-wrap: wrap;
            gap: 56px;
            .footer__linkgroup{
                display: flex;
                flex-direction: column;
                gap: 8px;
                .footer__grouptitle{
                    font-size: .8rem;
                    font-weight: 700;
                    margin-bottom: .2rem;

                }
                .footer__link{
                    font-size: .8rem;
                    text-decoration: none;
                    color: $text-light;
                }
            }
        }
        .footer__legal {
            justify-self: center;
            align-self: center;
            color: $text-gray;
            font-size: .8rem;
        }
    }
    .footer__section-two{
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        p {
            font-size: .6rem;
            text-decoration: none;
            color: $text-light;
            margin-top: 8px;
        }
    }
}

/* End of footer --- start of */