@import "./base/var";
@import "index";
@import "arte";
@import "sobre-mi";
@import "donar";
@import "contacto";
@import "404";
@import "./componentes/footer";
@import "./componentes/header";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $ligth-background;
    font-family: 'Inter' sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}