@import "var";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $ligth-background;
    font-family: 'Inter' sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

.nav__menu--mobile {
    @include nav-menu-mobile;
    p { 
    margin: 0 auto;
    }
}



.nav {
    @include flex-column-centered;
    @include nav-bar;
    .nav__links {
        @include nav-items-desktop;
        .nav__link {
            text-decoration: none;
            color: $text-black;
            margin: 0 16px;
            padding: 8px;
        &:hover {
            color: $text-light;
            background-color: $dark-background;
        }
        }
        .nav__link:last-child {
            margin-right: 0;
        }
    }
}

.nav__link__selected {
    border-bottom: 2px solid $dark-background;
}


.main-hero {
    height: 80vh;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1.25fr 1fr;
    gap: 2px;
    grid-auto-flow: row;
    grid-template-areas:
    "arte donar contacto"
    "sobre-mi donar contacto";
    padding: 0 2px 2px 2px;
    overflow: hidden;
    background-color: $dark-background;

    @media screen and (max-width: 800px) {
        grid-template-columns: .5fr .5fr .5fr 1fr; 
        grid-template-rows: 1fr 1.25fr 1.25fr; 
        gap: 2px; 
        grid-template-areas: 
          "arte arte arte sobre-mi"
          "camaleon camaleon donar donar"
          "contacto contacto contacto contacto"  
    }
    @media screen and (max-width: 576px) {
        grid-template-columns: repeat(6, .5fr); 
        grid-template-rows: 1fr 1.25fr 1fr; 
        gap: 2px; 
        grid-template-areas: 
          "arte arte arte sobre-mi sobre-mi sobre-mi"
          "camaleon camaleon donar donar donar donar"
          "contacto contacto contacto contacto contacto contacto"  
    }

}

.main__link {
 @include home-section-links;
}

.camaleon {
    display: none;
    grid-area: camaleon;
    background-image: url(../images/home/home__camaleon-surf.png);
    background-size: cover;
    background-position: center;
    @media screen and (max-width:800px) {
        display: flex;
    }
}

.arte {
    @include main-hero__section;
    grid-area: arte; 
    background-image: url(../images/home/home__crustaceo-casco.png);
    @media screen and (max-width:800px) {
        background-color: $green-solid;
    }
    &:hover{
        background-image: none;
        background-color: $green-solid;
    }
    &:hover .main__link {
        display: flex;
    }
    
}

.sobre-mi {
    @include main-hero__section;
    grid-area: sobre-mi;
    background-image: url(../images/home/home__tiburon-pirata.png);
    @media screen and (max-width:800px) {
        background-color: $purple-solid;
    }
    &:hover{
        background-image: none;
        background-color: $purple-solid;
    }
    &:hover .main__link {
        display: flex;
    }
}

.donar {
    @include main-hero__section;
    grid-area: donar;
    background-image: url(../images/home/home__pajaro-arma.png);
    @media screen and (max-width:800px) {
        background-color: $brown-solid;
    }
    &:hover{
        background-image: none;
        background-color: $brown-solid;
    }
    &:hover .main__link {
        display: flex;
    }
}

.contacto {
    @include main-hero__section;
    grid-area: contacto;
    background-image: url(../images/home/home__camaleon-surf.png);
    @media screen and (max-width:800px) {
        background-color: $yellow-solid;
    }
    &:hover{
        background-image: none;
        background-color: $yellow-solid;
    }
    &:hover .main__link {
        display: flex;
    }
}

/* End of index --- start of footer*/


.footer {
    @include footer; 
    .footer__section-one{
        display: flex;
        width: 100%;
        justify-content: space-between;
        @media screen and (max-width:800px) {
            flex-direction: column;
            gap: 64px;
        }
        .footer__linkgroups{
            justify-content: flex-start;
            display: flex;
            flex-wrap: wrap;
            gap: 56px;
            @media screen and (max-width:800px) {
                justify-content: center;
            }
            .footer__linkgroup{
                display: flex;
                flex-direction: column;
                gap: 8px;
                .footer__grouptitle{
                    font-size: .8rem;
                    font-weight: 700;
                    margin-bottom: .2rem;

                }
                .footer__link{
                    font-size: .8rem;
                    text-decoration: none;
                    color: $text-dark-gray;
                    transition: all 400ms ease-in-out;
                }
                .footer__link:hover{
                    color: $text-light;
                    text-decoration: underline;
                }
            }
        }
    }
        .footer__legal {
            justify-self: center;
            align-self: center;
            color: $text-gray;
            font-size: .8rem;
            text-align: center;
            @media screen and (max-width: 576px) {
                max-width: 34ch;
                text-align: center;
            }
        }
}
   
.footer__section-two{
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        p {
            font-size: .6rem;
            text-decoration: none;
            color: $text-light;
            margin-top: 8px;
        }
    }


/* End of footer --- start of arte */

.main {
    @include main;
}

.arte-shape{
    position: absolute;
    right: -40px;
    top: 102px;
    z-index:-1;
    @media screen and (max-width:800px) {
        transform: scale(0.7);
        right: -100px;
        top: 72px;
        path {
            stroke-width: calc(2px / 0.7);
        }
        
    }

    @media screen and (max-width:576px) {
        transform: scale(0.6);
        right: -100px;
        top: 42px;
        path {
            stroke-width: calc(2px / 0.6);
        }
        
    }
}

.h1-left{
    @include h1;
    @media screen and (max-width: 576px) {
        margin: 0;
        text-align: left;   
    }
}

.paragraph-left{
    @include paragraph;
    max-width: 42ch;
    @media screen and (max-width: 576px) {
        max-width: 28ch;
    }
}

.masonry-grid {
    width: 100%;
    display: flex;
    gap: 16px;
    margin: 0 auto;
    margin-top: 48px;
    .masonry-grid__column {
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .masonry-grid__photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 2px solid black;
    }
}

.scrim {
    background: linear-gradient(to top, $ligth-background, #f7fbff00,);
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 2;
    margin-top: -180px;
}

.button-primary{
    @include button-primary;
    margin: 0 auto;
    a {
        @include button-primary-text;
    }

}

.button-margin {
    margin-top: 48px;
}

#ancla {
    position:absolute;
    top:0;
    visibility: hidden;
}

/* End of arte --- start of sobre mi */
.body-sobre-mi {
    background-color: $green-solid;
}

.sobre-mi-main {
    @include main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: nowrap;
    @media screen and (max-width:900px){
        flex-direction: column;
        
    }
    h1 {
        @include h1;
        @media screen and (max-width:900px){
            text-align: center;
        }
    }
    .subheading {
        @include subheading;
        margin-bottom: 32px;
        @media screen and (max-width:900px){
            text-align: center;
        }
    }

    .paragraph-left {
        @include paragraph;
        max-width: 42ch;
        @media screen and (max-width:900px){
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

    }
    .sobre-mi-main__textcontainer {
        width: 50%;
        max-width: 50%;
        @media screen and (max-width:900px) {
            width: 100%;
            
        }
    }

    .sobre-mi-main__photo-container{
        display: flex;
        height: fit-content;
        width: 44%;
        margin-top: 40px;
        justify-self: flex-end;
        align-items: flex-end;
        @media screen and (max-width:900px){
            width: 100%;
        }
        .sobre-mi-main__talent-photo{
            max-width: 450px;
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0 auto;
            margin-right: 0;
            border: $border-all;
            position: relative;
            z-index: 2;
            @media screen and (max-width:900px) {
                max-width: 100%;
                
            }
        }
    }

}

.sobre-mi-main__shape-one {
    position: absolute;
    z-index: -1;
    top: -10px;
    left: -56px;
    path{
        stroke:$dark-background ;
        stroke-width: 2px;
    }
    @media screen and (max-width:1070px) {
        transform: scale(0.8);
        left: -86px;
        path {
            stroke-width: calc(2px / 0.8);
        }
        
    }

    @media screen and (max-width:800px) {
        transform: scale(0.6);
        left: -140px;
        path {
            stroke-width: calc(2px / 0.6);
        }
        
    }

}

.sobre-mi-main__shape-two {
    position: absolute;
    z-index: -1;
    top:260px;
    right: -42px;
    
    path{
        stroke:$dark-background ;
        stroke-width: 2px;
    }

    @media screen and (max-width:1070px) {
        transform: scale(0.8);
        right: -92px;
        path {
            stroke-width: calc(2px / 0.8);
        }
    }

    @media screen and (max-width:900px) {
        transform: scale(0.8);
        right: -320px;
        path {
            stroke-width: calc(2px / 0.8);
        }
        
    }

    @media screen and (max-width:800px) {
        transform: scale(0.6);
        right: -300px;
        path {
            stroke-width: calc(2px / 0.6);
        }
        
    }
    
}



/* End of sobre mi --- start of donar */

.donar-main {
    @include main;
    .donar-main__title{
        display: flex;
        flex-direction: column;
        
        .donar-main__h1{
            @include h1;
            order: 2;
            margin-bottom: 0;
        }
        .donar-main__subheading {
            @include subheading;
            order: 1;
            margin-bottom: 16px;
            line-height: 1rem;
        }

    }
    .donar-main__mp-link{
        width: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 32px;
        .donar-main__link-content{
            display: flex;
            gap: 16px;
            padding: 24px;
            background-color: $gray-background;
            justify-items: center;
            align-items: center;
            .donar-main__alias{
                font-family: $ibm-plex-mono;
                color: $text-dark-gray;
                font-weight: 500;
                font-size: 1rem;
                letter-spacing: .1rem;
                margin: auto;
            }
            .donar-main__icon{
                stroke: $text-dark-gray;
            }
        }
    }
    .button-group{
        margin: 0 auto;
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        gap: 16px;
    } 
    .donar-main__imgs{
        display: flex;
        position: relative;
        left: -64px;
        top: 32px;
        width: 100%;
        margin-bottom: 32px;
        justify-content: flex-start;
        @media screen and (max-width: 800px) {
            left: auto;
            right: auto;
            justify-content: center;
            top: 64px;
            margin-bottom: 64px;
        }
        @media screen and (max-width: 576px) {
            margin:0 auto;
            left: auto;
            right: auto;
            justify-content: center;
            top: 64px;
            margin-bottom: 64px;
            width: 80%;
        }

        .donar-main__img{
            width: 480px;
            z-index: -1;
            @media screen and (max-width:800px) {
                width: 400px;
                margin: 0 auto;
                order: 2;
                
            }
            @media screen and (max-width:576px) {
                width: 320px;
                margin: 0 auto;
                order: 2;
                max-width: 100%;
                
            }
        }

        svg{
            position: absolute;
            z-index: -2;
            width: 320px;
            left: calc( (480px - 320px) / 3.4 );
            top: -16px;
            animation: rotate 12s linear infinite;
            @media screen and (max-width:800px) {
                width: 220px;
                left: auto;
                right: auto;
                position: absolute;
                top: -60px;

                path {
                    stroke-width: 2px ;
                }  
            }

            @media screen and (max-width:576px) {
                height: 60%;
                left: auto;
                right: auto;
                position: absolute;
                top: -20px;

                path {
                    stroke-width: 8px ;
                }  
            }
        }
    }  
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* End of donar --- start of contacto */

.checked {
    display: flex;
    width: 4px;
    height: 4px;
    background-color: none;
    position: relative;
    left: -12px;
    z-index: -1;
    transform: scale(1, 1);
    transition: all 400ms ease-in-out;
    
}
.contacto-main {
    @include main;
    .contacto-main__title{
        display: flex;
        flex-direction: column;
        text-align: center;
        .contacto-main__h1{
            @include h1;
            order: 2;
            margin-bottom: 0;
        }
        .contacto-main__h2{
            @include subheading;
            order: 1;
            margin-bottom: 16px;
            line-height: 1rem;
        }
    }

    .form {
        margin: 0 auto;
        width: 80%;
        margin-top: 64px ;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (max-width:800px) {
            width: 90%;
            
        } 

        @media screen and (max-width:576px) {
            width: 100%;
            
        }  

        .form__input-row{
            display: flex;
            justify-content: space-between;
            gap: 16px;
            .form__cell-container{
                width: 100%;
                
                label{
                    display: none;
                }

                .form__cell{
                    display: flex;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    border: none;
                    background-color: $ligth-background;
                    border-bottom: $border-all;
                    padding: 8px;
                    font-family: $ibm-plex-mono;
                    &:focus{
                        @extend .form__cell;
                        border-color: $link-hovered-purpleblue;
                        outline: none;
                    }
                }

                
               
            }
        }
        
        label {
            display: none;
        }
        
        .form__text-area {
            width: 100%;
            padding: 8px;
            border: $border-all;
            background-color: $ligth-background;
            font-family: $ibm-plex-mono;
            color: $text-dark-gray;
            &:focus {
                border-color: $link-hovered-purpleblue;
                outline: none;
            }
            
        }

        .form__subscribe{
            color: $text-black;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2px;
            .form__checkbox {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 16px;
                height: 16px;
                border: $border-all;
                cursor: pointer;
                &:checked{
                    border-color: $link-hovered-purpleblue;
                }
                &:checked + .checked {
                    display: inline-block;
                    background-color: $link-hovered-purpleblue;
                    position: relative;
                    left: -12px;
                    transform: scale(2.1, 2.1);
                }
            } 
        }
        
        .form__checkbox-text{
                display: inline;
                font-family: $inter;
                font-size: .8rem;
        }

        
        .button-primary{
            @include button-primary;
            @include button-primary-text;
            width: 100%;
        }
    
        input::placeholder, textarea::placeholder{
            color: $text-placeholder;
        }    
    }
}


